.header-wrapper {
    background-color: #f0ffef;
    border-radius: 15px;
    margin-inline: 2rem;
    margin-top: 1, 375rem;
    padding-block: 2.625rem;
    padding-inline: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .conten-wrapper {
    max-width: 30rem;
  }
  .btn-primary {
    background-color: #009247;
    border: #009247;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
    padding-inline: 2rem;
    padding-block: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 12px;
  }