.auth-container {
  background-image: url(./assets/images/auth-bg.jpeg);
  background-size: cover;
  background-position: center center;
}
.bg-overlay {
  background: linear-gradient(
    45deg,
    rgba(47, 140, 96, 0.5),
    rgba(0, 0, 0, 0.5)
  );
}

.sidebar-container .ps-sidebar-container {
  background-color: #1f263e;
  height: 100vh;
  border-top-right-radius: 50px;
}
.sidebar-container {
  position: sticky;
  align-self: flex-start;
  top: 0;
  left: 0;
  bottom: 0;
  
}
.sidebar-container .ps-menu-button {
  color: #fff !important;
}

.sidebar-container .ps-menu-button:hover {
  background-color: rgba(47, 140, 96, 0.5) !important;
}
.sidebar-container .logo-menu-item .ps-menu-button:hover {
  background-color: transparent !important;
}
.sidebar-icon {
  width: 400%;
}
.sidebar-container .ps-sidebar-container {
  height: 100vh;
}

.header-container {
  background: url(./../src/assets/images/header.svg), #009247;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  margin: 10px;
}

.recipe-img {
  height: 40px;
  width: 40px;
  object-fit: contain;
}

